
body{
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif;
  background: #F3F3EA;
  box-sizing: border-box;
  width: 100%;
  p{
    text-align: center;
  }
}

header{
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  #logo{
    position: relative;
    top:2px;
    width: 50%;
    font-size: 48px;
  }

  #bars{
    width: 50%;
    text-align: right;
    font-size: 48px;
    position: relative;
    top: 2px;
    padding-right: 0.3em;
  }
}

main{
  display: flex;
  flex-wrap: wrap;
}

.landing-page{
  position: relative;
  background-color: #96C0B7;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  .description, .checkout{
    width: 100%;
  }
  img{
    justify-content: center;
    vertical-align: middle;
    max-width: 60%;
  }
  .arrow{
    font-size: 78px;
    color: #4D7197;
  }
  picture{
    width: 100%;
  }
}


#skills{
  color: white;
  text-shadow: 0.125rem 0.125rem 0.125rem #292929;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #40798C;
  table{
    margin: 0 auto;
    width: 100%;
    th, td{
      vertical-align: middle;
      text-align: center;
      max-width: 100%;
    }
  }
}

.portfolio{
  color: #22181C;
  text-shadow: 6px 4px 6px rgba(179, 184, 136, 0.43);
  background-color: #96C0B7;
  width: 100%;
  height: 100%;
  h2{
    text-align: center;
  }
  table{
    margin: 0 auto;
    width: 100%;
    th, td{
      vertical-align: middle;
      text-align: center;
      max-width: 100%;
    }
  }
}

.title{
  width: 100%;
}

address{
  background-color: #40798C;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.125rem #292929;
  width: 100%;
  height:100%;
  h2{
    text-align: center;
  }
}

footer{
  width: 100%;
  height:100%;
  background: rgba(106, 105, 107, 0.44);
  .social-media-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 48px;
  }

  .social-icons{
    margin: 0 auto;
    color: black;
    text-shadow: 5px 1px #8f8787;
    transition: color 1s ease-out;
  }

  .social-icons:hover{
    color: purple;
    cursor: pointer;
  }
}
