body {
  padding: 0;
  margin: 0;
  font-family: 'Asap', sans-serif;
  background: #F3F3EA;
  box-sizing: border-box;
  width: 100%; }
  body p {
    text-align: center; }

header {
  max-width: 100vw;
  display: flex;
  justify-content: space-between; }
  header #bars {
    width: 100%;
    text-align: right;
    font-size: 48px;
    position: relative;
    top: 2px;
    padding-right: 0.3em; }

main {
  display: flex;
  flex-wrap: wrap; }

.landing-page {
  position: relative;
  background-color: #96C0B7;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap; }
  .landing-page .description, .landing-page .checkout {
    width: 100%; }
  .landing-page img {
    justify-content: center;
    vertical-align: middle;
    max-width: 60%; }
  .landing-page .arrow {
    font-size: 78px;
    color: #4D7197; }
  .landing-page picture {
    width: 100%; }

#skills {
  color: white;
  text-shadow: 0.125rem 0.125rem 0.125rem #292929;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #40798C; }
  #skills table {
    margin: 0 auto;
    width: 100%;
    font-size: 100px; }
    #skills table th, #skills table td {
      vertical-align: middle;
      text-align: center;
      transition: color 1s ease-out; }
    #skills table td:hover {
      color: black; }

.portfolio {
  color: #22181C;
  text-shadow: 6px 4px 6px rgba(179, 184, 136, 0.43);
  background-color: #96C0B7;
  width: 100%;
  height: 100%; }
  .portfolio h2 {
    text-align: center; }
  .portfolio table {
    margin: 0 auto;
    width: 100%; }
    .portfolio table caption {
      margin-bottom: 10px; }
    .portfolio table th, .portfolio table td {
      vertical-align: middle;
      text-align: center;
      border: 1px solid black; }
      .portfolio table th img, .portfolio table td img {
        width: 150px;
        height: 150px; }

.title {
  width: 100%; }

address {
  background-color: #40798C;
  color: white;
  text-shadow: 0.125rem 0.125rem 0.125rem #292929;
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
  text-align: center; }
  address img {
    display: inline-block;
    vertical-align: middle; }
  address p {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none; }
  address .email {
    margin-top: -30px;
    font-size: 40px;
    transition: color 1s ease-out; }
    address .email .fa {
      vertical-align: middle; }
  address .email:hover {
    color: #8F90DD; }

footer {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(106, 105, 107, 0.44); }
  footer .social-media-buttons {
    width: 50%;
    height: 100%;
    font-size: 30px;
    margin-left: 10px; }
    footer .social-media-buttons .social-icons {
      margin-top: 10px;
      padding-left: 2px;
      color: black;
      text-shadow: 5px 1px #8f8787;
      transition: color 1s ease-out; }
    footer .social-media-buttons .social-icons:hover {
      color: purple;
      cursor: pointer; }
  footer .author {
    display: inline-block;
    width: 50%; }
    footer .author p {
      text-align: right;
      padding-right: 1em; }
